.faculty-back {
    margin: 1% 1% 0 2%;
}

.sub-list {
    background-color: #f1f1f1;
    width: 100%;
    height: 2.3rem;
    box-shadow: -0.1rem -0.1rem 0.3rem #ffffffc4,
        inset 0.1rem 0.1rem 0.3rem rgba(94, 104, 121, 0.288);
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(136, 136 145);
}

.sub {
    border-radius: 0.5rem;
    font-size: 0.75rem;
    text-decoration: none;
    display: block;
    padding: 0.2rem 0.7rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.sub-list .sub.on {
    background-color: rgba(255, 255, 255, 0.808);
    color: #c44240;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    font-size: 0.75rem;
    text-decoration: none;
    display: block;
    padding: 0.2rem 0.7rem;
    transition: all 250ms linear;
}

.faculty-cards {
    background-color: #f1f1f1;
    margin-top: 1%;
    height: 85vh;
    border-radius: 0.7rem;
    box-shadow: -0.1rem -0.1rem 0.3rem #ffffffc4,
        inset 0.1rem 0.1rem 0.3rem rgba(94, 104, 121, 0.288);
    display: flex;
    align-items: center;
    justify-content: center;
}

#sel-img {
    height: 0.9rem;
}

.faculty-view-selector a {
    text-decoration: none;
    font-size: 0.9rem;
    margin-right: 1%;
}

.faculty-grid {
    display: grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0.8rem;
    grid-row-gap: 0.8rem;
    width: 69vw;
    height: 89%;
}

.faculty-grid-item {
    display: none;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.7rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#faculty-card {
    height: auto; 
    width: auto; 
    max-width: 242px; 
    max-height: 294px;
    z-index: 1;
}

.pfp{
    width: 110px;
    height: 110px;
    z-index: 0;
    position: absolute;
    top: 27.3%;
}

#faculty-pfp{
    width: 110px;
    height: 110px;
    z-index: 0;
    position: absolute;
}

.fac1 {
    grid-area: 1 / 1 / 2 / 2;
}

.fac2 {
    grid-area: 1 / 2 / 2 / 3;
}

.fac3 {
    grid-area: 1 / 3 / 2 / 4;
}
