iframe {
    border: 0;
    overflow: hidden;
}

@media screen and (max-width: 540px) {

    .lib-back {
        margin-top: 30%;
        margin-left: 20%;
        width: 83vw;
        overflow: scroll;
    }

}