
@media screen and (max-width: 1300px){
    /* .grid-container {
        display: none;
    } */
}

@media screen and (max-width: 800px){
    #logo{
        margin: 1rem 2.7rem; 
    }

    form {
        width: 15rem;
    }
    input {
        height: 2.3rem;
    }
    #logout {
        height: 2.3rem;
        width: 6rem;
    }
    nav ul li {
        margin-left: 0.7rem;
    }
}

@media screen and (max-width: 540px){

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* #logo{
        opacity: 0;
    } */
}
