{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="ass-back">
    <div class="sub-list">
        {% for items in assignmentname %}
        <a class="sub on" href="#" value="{{items.subject_id.subject_name}}"
            onclick="changeSub()">{{items.subject_id.subject_name}}</a>
        {%endfor%}
    </div>
    <div class="sub-table">
        <table class="as-table">
            <tr>
                <th class="as-header">Assignment</th>
                <th class="as-header">Start Date</th>
                <th class="as-header">End Date</th>
                <th class="as-header">Status</th>
                <th class="as-header">Action</th>
            </tr>
            <tbody class="as-body">
                {% for items in assignmentname %}
                <tr class="border-bottom">
                    <td class="as-td">{{items.assignment_name}}</td>
                    <td class="as-td">{{items.created}}</td>
                    <td class="as-td">{{items.submission_date}}</td>
                    {% if items.status == 'Submitted' %}
                    <td class="dash-ass-table"><a class="status done" href="">Submitted</a></td>
                    {% else %}
                    <td class="dash-ass-table"><a class="status pending" href="">Pending</a></td>
                    {% endif%}
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                {%endfor%}

            </tbody>
        </table>
    </div>

</div>

<script>
    function changeSub() {
        $(".sub-list a").on("click", function () {
            $(".sub-list").find(".on").removeClass("on");
            $(this).addClass("on");
        });

    }
</script>

{% endblock content %}