{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="ass-back">
    <div class="sub-list">
        <a class="sub on" href="#" onclick="changeSub()">DAA</a>
        <a class="sub" href="#" onclick="changeSub()">MAE</a>
        <a class="sub" href="#" onclick="changeSub()">CN</a>
        <a class="sub" href="#" onclick="changeSub()">Web Programming</a>
        <a class="sub" href="#" onclick="changeSub()">DM</a>
        <a class="sub" href="#" onclick="changeSub()">IP</a>
        <a class="sub" href="#" onclick="changeSub()">EVS</a>
    </div>
    <div class="sub-table">
        <table class="as-table">
            <tr>
                <th class="as-header">Assignment</th>
                <th class="as-header">Start Date</th>
                <th class="as-header">End Date</th>
                <th class="as-header">Status</th>
                <th class="as-header">Action</th>
            </tr>
            <tbody class="as-body">
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>
                <tr class="border-bottom">
                    <td class="as-td">Experiment 1</td>
                    <td class="as-td">Oct. 23, 2021, 6:50 p.m.</td>
                    <td class="as-td">Oct. 30, 2021, 11:59 p.m.</td>
                    <td class="as-td"><a class="status pending" href="">Pending</a></td>
                    <td class="as-td"><a class="action-btn" href="">Submit</a></td>
                </tr>

            </tbody>
        </table>
    </div>

</div>

<script>
    function changeSub() {
        $(".sub-list a").on("click", function () {
            $(".sub-list").find(".on").removeClass("on");
            $(this).addClass("on");
        });
    }
</script>

{% endblock content %}