{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="att-back">
    <div class="sub-list">
        <a class="sub on" href="#" onclick="changeSub()">DAA</a>
        <a class="sub" href="#" onclick="changeSub()">MAE</a>
        <a class="sub" href="#" onclick="changeSub()">CN</a>
        <a class="sub" href="#" onclick="changeSub()">Web Programming</a>
        <a class="sub" href="#" onclick="changeSub()">DM</a>
        <a class="sub" href="#" onclick="changeSub()">IP</a>
        <a class="sub" href="#" onclick="changeSub()">EVS</a>
    </div>
    <div class="sub-table">
        <div class="att-table">
            <tr>
                <th class="att-header">Assignment</th>
                <th class="att-header">Start Date</th>
                <th class="att-header">End Date</th>
                <th class="att-header">Status</th>
                <th class="att-header">Action</th>
            </tr>
        </div>
    </div>
</div>

{% endblock content %}