{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'faculty.css' %}">
    <link rel="stylesheet" href="{% static 'settings.css' %}">
    <title>NMIMS Portal</title>
</head>

<body>

    <div class="background">
        <div class="sidebar">
            <img id="logo" src="{% static 'logo.png' %}" alt="logo">

            <a class="pg active" href="{% url 'dashboard' %}" onclick="changePage()">
                <img class="ico home" src="{% static 'home.png' %}" alt="">
                Home
            </a>
            <a class="pg" href="#" onclick="changePage()">
                <img class="ico home" src="{% static 'classroom.png' %}" alt="">
                Timetable</a>
            <a class="pg" href="#" onclick="changePage()">
                <img class="ico attendance" src="{% static 'attendance.png' %}" alt="">
                Attendance
            </a>
            <a class="pg" href="#" onclick="changePage()">
                <img class="ico" src="{% static 'assignment.png' %}" alt="">
                Assignments</a>
            <a class="pg" href="#" onclick="changePage()">
                <img class="ico" src="{% static 'ica.png' %}" alt="">
                ICA</a>
            <a class="pg" href="#" onclick="changePage()">
                <img class="ico" src="{% static 'library.png' %}" alt="">
                Library</a>
            <a class="pg" href="{% url 'faculty' %}" onclick="changePage(); faculty">
                <img class="ico" src="{% static 'faculty.png' %}" alt="">
                Faculty</a>
            <a class="pg" href="{% url 'settings' %}" onclick="changePage()">
                <img class="ico" src="{% static 'settings.png' %}" alt="">
                Settings </a>
        </div>

        <div class="container">
            <div class="navbar-main">
                <form onsubmit="event.preventDefault();" role="search">
                    <label for="search">Search for stuff</label>
                    <input id="search" type="search" placeholder="Search..." autofocus required />
                    <button id="go" type="submit">Go</button>
                </form>
                <nav>
                    <ul>
                        <li>
                            <a href="#" class="notification">
                                <span>
                                    <img id="bell" src="{% static 'bell.png' %}" alt="notifications">
                                </span>
                                <span class="badge">3</span>
                            </a>
                        </li>
                        <li>
                            <button id="logout" onclick="location.href='{% url 'logout' %}'">Logout</button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="navbar-small">
                <img id="search" src="{% static 'search.png' %}" alt="search">
                <form id="demo-2">
                    <input type="search" placeholder="Search">
                </form>
            </div>
                {% block content%}

            {% endblock %}
            
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script>
        function changePage() {
            $(".sidebar a").on("click", function () {
                $(".sidebar").find(".active").removeClass("active");
                $(this).addClass("active");
            });
        }

        // function home() {
        //     $(document).ready(function () {
        //         $(".pg active").click(function () {
        //             $(".load").load("./dashboard.html");
        //             return false;
        //         });
        //     });
        // }

        // function faculty() {
        //     $(document).ready(function () {
        //         $(".pg active").click(function () {
        //             $(".load").load("./dashboard.html");
        //             return false;
        //         });
        //     });
        // }

        function toggleSidebar() {
            document.getElementsByClassName("sidebar").classList.toggle('active');
        }
    </script>


</body>

</html>