{% extends 'dashboard/base.html' %}
{% block content %}
<div class="grid-container">
    <div class="grid-item one"></div>
    <div class="grid-item two"></div>
    <div class="grid-item announcement">
        <div class="title">
            Announcements
        </div>
        <div class="ann">
            <div class="prev">P</div>
        <div class="text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ad, at expedita inventore doloribus facere.
        </div>
        <div class="next">N</div>

        </div>
    </div>
    <div class="grid-item big"></div>
    <div class="grid-item cal"></div>
</div>
{% endblock content %}