{% extends 'dashboard/base.html' %}
{% block content %}
<div class="grid-container">
    <div class="grid-item one"></div>
    <div class="grid-item two"></div>
    <div class="grid-item announcement">
        <div class="title">
            Announcements
        </div>
        <div class="ann">
            <div class="prev">P</div>
            <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ad, at expedita inventore doloribus
                facere.
            </div>
            <div class="next">N</div>

        </div>
    </div>
    <div class="grid-item big">
        <div class="header">
            <a class="on" href="#" class="btn assign">Assignments</a>
            <a href="#" class="btn exam">Exam Schedule</a>
        </div>
        <table class="GridTable">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td>foot1</td>
                    <td>foot2</td>
                    <td>foot3</td>
                    <td>foot4</td>
                </tr>
            </tfoot>
            <tbody>
                <tr>
                    <td>Math</td>
                    <td>cell2_1</td>
                    <td>cell3_1</td>
                    <td>cell4_1</td>
                </tr>
                <tr>
                    <td>Fundamentals of C++</td>
                    <td>cell2_2</td>
                    <td>cell3_2</td>
                    <td>cell4_2</td>
                </tr>
                <tr>
                    <td>Java</td>
                    <td>cell2_3</td>
                    <td>cell3_3</td>
                    <td>cell4_3</td>
                </tr>
                <tr>
                    <td>Html & Css</td>
                    <td>cell2_4</td>
                    <td>cell3_4</td>
                    <td>cell4_4</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="grid-item cal"></div>
</div>
{% endblock content %}