{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="fac-back">
    <div class="fac-main">
        <div class="fac-container">
            <input class="fac-in" type="radio" name="slider" id="item-1" checked>
            <input class="fac-in" type="radio" name="slider" id="item-2">
            <input class="fac-in" type="radio" name="slider" id="item-3">
            <div class="fac-cards">
                <label class="fac-card" for="item-1" id="song-1">
                    <div class="fac-pfp">
                        <img src="{% static 'kamal.png' %}" alt="">
                    </div>
                    <div class="fac-text">
                        <div class="fac-name">Kamal Mistry</div>
                        <div class="fac-pos">Assistant Professor</div>
                        <div class="fac-about">M.Tech (Computer Engg.), B.E. (Computer Engg.)
                            Specialization: Programming, Cloud Computing, Security</div>
                    </div>
                    <img class="fac-img" src="{% static 'faculty_card.png' %}" alt="song">

                </label>
                <label class="fac-card" for="item-2" id="song-2">
                    <div class="fac-pfp">
                        <img src="{% static 'radhika.png' %}" alt="">
                    </div>
                    <div class="fac-text">
                        <div class="fac-name">Radhika Chapaneri</div>
                        <div class="fac-pos">Assistant Professor</div>
                        <div class="fac-about">Pursuing Ph.D, M.E. (Computer Engg.), B.E. (EXTC)
                            Specialization: Machine Learning, Cryptography and Network Security, Chaos based Image
                            Encryption</div>
                    </div>
                    <img class="fac-img" src="{% static 'faculty_card.png' %}" alt="song">
                </label>
                <label class="fac-card" for="item-3" id="song-3">
                    <div class="fac-pfp">
                        <img src="{% static 'deepa.png' %}" alt="">
                    </div>
                    <div class="fac-text">
                        <div class="fac-name">Deepa Krishnan</div>
                        <div class="fac-pos">Assistant Professor</div>
                        <div class="fac-about">M.Tech (Computer Security and Digital Forensic), B.Tech (I.T.)
                            Specialization: Information Security and Computer Forensics</div>
                    </div>
                    <img class="fac-img" src="{% static 'faculty_card.png' %}" alt="song">
                </label>
            </div>

        </div>
    </div>

</div>

{% endblock content %}