{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="faculty-back">
    <div class="faculty-cards">
        <div class="prev">P</div>
        <div class="faculty-grid">
            <div class="faculty-grid-item fac1">
                <div class="pfp">
                    <img id="faculty-pfp" src="{% static 'faculty_pfp.png' %}" alt="faculty">
                </div>
                <img id="faculty-card" src="{% static 'faculty_card.png' %}" alt="faculty">
            </div>
            <div class="faculty-grid-item fac2">
                <div class="pfp">
                    <img id="faculty-pfp" src="{% static 'faculty_pfp.png' %}" alt="faculty">
                </div>
                <img id="faculty-card" src="{% static 'faculty_card.png' %}" alt="faculty">
            </div>
            <div class="faculty-grid-item fac3">
                <div class="pfp">
                    <img id="faculty-pfp" src="{% static 'faculty_pfp.png' %}" alt="faculty">
                </div>
                <img id="faculty-card" src="{% static 'faculty_card.png' %}" alt="faculty">
            </div>
        </div>
        <div class="next">N</div>

    </div>
</div>

{% endblock content %}