{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="fac-back">
    <div class="main">
        <div class="fac-container">
            <input class="fac-in" type="radio" name="slider" id="item-1" checked>
            <input class="fac-in" type="radio" name="slider" id="item-2">
            <input class="fac-in" type="radio" name="slider" id="item-3">
            <div class="fac-cards">
                <label class="fac-card" for="item-1" id="song-1">
                    <img class="fac-img"
                        src="{% static 'faculty_card.png' %}"
                        alt="song">
                </label>
                <label class="fac-card" for="item-2" id="song-2">
                    <img class="fac-img"
                        src="{% static 'faculty_card.png' %}"
                        alt="song">
                </label>
                <label class="fac-card" for="item-3" id="song-3">
                    <img class="fac-img"
                        src="{% static 'faculty_card.png' %}"
                        alt="song">
                </label>

            </div>

        </div>
    </div>
</div>
    

{% endblock content %}