{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="ica-back">
    <div class="ica-container">
        <table class="ica-table">
            <tbody class="ica-body">
                <tr class="ica-tr">
                    <th class="ica-th">Subject</th>
                    <th class="ica-th">M1</th>
                    <th class="ica-th">M2</th>
                    <th class="ica-th">Term Work</th>
                    <th class="ica-th">Total</th>
                </tr>
                <tr class="border-bottom">
                    <th class="ica-th-a">WP</th>
                    <td class="ica-td">10</td>
                    <td class="ica-td">10</td>
                    <td class="ica-td">30</td>
                    <td class="ica-td">50</td>
                </tr>
                <tr class="border-bottom">
                    <th class="ica-th-a">WP</th>
                    <td class="ica-td">10</td>
                    <td class="ica-td">10</td>
                    <td class="ica-td">30</td>
                    <td class="ica-td">50</td>
                </tr>
                <tr class="border-bottom">
                    <th class="ica-th-a">WP</th>
                    <td class="ica-td">10</td>
                    <td class="ica-td">10</td>
                    <td class="ica-td">30</td>
                    <td class="ica-td">50</td>
                </tr>
                <tr class="border-bottom">
                    <th class="ica-th-a">WP</th>
                    <td class="ica-td">10</td>
                    <td class="ica-td">10</td>
                    <td class="ica-td">30</td>
                    <td class="ica-td">50</td>
                </tr>
                <tr class="border-bottom">
                    <th class="ica-th-a">WP</th>
                    <td class="ica-td">10</td>
                    <td class="ica-td">10</td>
                    <td class="ica-td">30</td>
                    <td class="ica-td">50</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}