{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="ica-back">
    <div class="ica-container">
        <table class="ica-table">
            <tbody class="ica-body">
                <tr class="ica-tr">
                    <th class="ica-th">Subject</th>
                    <th class="ica-th">M1</th>
                    <th class="ica-th">M2</th>
                    <th class="ica-th">Term Work</th>
                    <th class="ica-th">Total</th>
                    <th class="ica-th">Status</th>

                </tr>
                {% for items in ica %}
                <tr class="border-bottom">
                    <th class="ica-th-a">{{items.subject_id.subject_name}}</th>
                    <td class="ica-td">{{items.m1}}</td>
                    <td class="ica-td">{{items.m2}}</td>
                    <td class="ica-td">{{items.termwork}}</td>
                    <td class="ica-td">{{items.total}}</td>
                    <td class="ica-td">{{items.status}}</td>

                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}